<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- MySQL DataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/userdb" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <!-- JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    

    <!-- DAO -->
    <bean id="userDao" class="com.example.dao.UserDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <!-- <bean name="/gen.html" class="com.example.controller.GeninjectController" />-->


</beans>
