<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <!-- Controller Bean -->
  <bean name="/hello.html" class="com.example.controller.HelloController" />
  <bean name="/form.html" class="com.example.controller.FormController" />
  <bean name="/submitForm.html" class="com.example.controller.FormController" />
  <bean name="/users.html" class="com.example.controller.UserController" />
  <bean name="/login.html" class="com.example.controller.LoginController" />
   <bean name="/home.html" class="com.example.controller.HelloController" />
  
  <bean class="util.BeanListLogger"/>

  <!-- View Resolver -->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/" />
    <property name="suffix" value=".jsp" />
  </bean>

</beans>
